<form name="inputForm" id="inputForm" class="form-horizontal">
    <div class="footer">
        <input places-auto-complete class="form-control" on-place-changed="vm.originChanged()" placeholder="Origin..." ng-model="vm.origin" ng-focus="vm.origin = ''" />
        <input places-auto-complete class=" input_field form-control" on-place-changed="vm.destChanged()" placeholder="Destination..." ng-model="vm.destination" ng-focus="vm.destination = ''"/>
        <input placeholder="Trip Time..." ng-model="vm.startingTime" class=" input_field form-control " ng-focus="vm.startingTime = ''"/>
        <!--<input type="time" placeholder="Starting Time..." ng-model="vm.startingTime" class="form-control" />-->
        <textarea rows="12" class=" input_field form-control " id="userInput" name="userInput" ng-model="vm.userInput1" placeholder=""></textarea>
    </div>

    <div class="footer">
        <button type="button" class="btn submit_button" ng-click="vm.addTrip()">Add Trip</button>
        <button type="button" style="margin-left: 10px" class="btn submit_button" ng-click="vm.submit()">Submit</button>
        <!--<button type="button" class="btn submit_button" ng-click="vm.addTrip()">Submit</button>-->
    </div>

</form>
